.post-wrapper{
        min-width: 1280px;
        width: 1280px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 33% 33% 33%;
}

.post-wrapper .post{
        width: calc(100% - 10px);
        background: #E4E8F3;
        margin: 5px;
        position: relative;
}

.post-wrapper .post .thumbnail{
        justify-self: start;
        float: left;
        width: 5em;
        height: 5em;
        margin: 5px;
}

.post-wrapper .post .thumbnail img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
}

.post-wrapper .post .title{
        font-weight: 600;
        margin: 5px;
        font-size: 15px;
}

.post-wrapper .post .footer{
        background: #D9DDE8;
        width: 100%;
        height: 30px;
        position: absolute;
        bottom: 0px;
}

@media only screen and (max-width: 500px) {
        .post-wrapper{
                grid-template-columns: auto;
        }
    }